@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@300;400;500&display=swap');



*{
    font-family :poppins;
    /* font-family: Nunito; */
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #d2aaa820;
    background-color: #e7e7e7;
    /* background-color: #252525; */
    /* background: linear-gradient(#00847B,#39A97C);
    background: linear-gradient(#bbdddb,#c0e2d4); */
    
}
#root{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #33336735, #278f7a35); */
}


.load{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ad;
    position: absolute;
    z-index: 55;
    
}

.load img{
    width: 250px;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.app {
  background-color: #ffffff;
  color: #000000;
}

.app.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.authenticated-layout {
  background-color: #ffffff;
  color: #000000;
}

.authenticated-layout.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Add more dark mode styles as needed */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* or any color you prefer */
  z-index: 9999;
}

.loading-screen img {
  max-width: 100px; /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
}
